*{
margin: 0;
padding: 0;
box-sizing: border-box;


}

.center{
height: 80vh;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;

}
button{
padding: .5rem 1rem;
border-radius: .5rem;
background-color:black; 
color: white;
cursor: pointer;
}
select{
    padding: 1rem 2rem;
    border-radius: .5rem;
    background-color: gray; 
    color:white;
    
    

}